* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color:hsl(323 21% 16%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    justify-content: center;
    width: 50%;
    
}

.instagram-phone img {
    height: 50rem;
    
}

.instagram-continue {
    display: flex;
    
    align-items: center; /* horizontal */
    justify-content: space-between; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
    border: 1px solid hsl(317 100% 54%);

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(317 100% 54%) ;
    box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%) , 0 0 0.5em 0 hsl(317 100% 54%) ;
}

.group:nth-child(1) {
    min-height: 19rem;
    padding: 2rem 0 5rem;
}

.group + .group {
    padding: 2rem 0;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem 0;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
    font-size: 1.3em;
    color: hsl(317 100% 54%) ;
    border: .125em solid hsl(317 100% 54%);
    border-radius: .25em;
    padding: .25em 1em;
    text-decoration: none;
    font-weight:800;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(317 100% 54%) ;
    box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%) , 0 0 0.5em 0 hsl(317 100% 54%) ;
  
    position: relative;
}

.instagram-login::before {
    pointer-events: none;
    content:"";
    position: absolute;
    background: hsl(317 100% 54%);
    top:120%;
    left:0;
    width:100%;
    height:100%;
    
    transform: 
      perspective(1em)
      rotatex(40deg)
      scale(1, 0.35);
      
      filter: blur(1em);
      opacity:0.7;
      
  }
  
  .instagram-login::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
    opacity:0;
    background-color: hsl(317 100% 54%);
    z-index:-1;
    transition: opacity 100ms linear;
    
  }
  
  .instagram-login:hover,
  .instagram-login:focus {
    color: hsl(323 21% 16%);
    text-shadow:none;
    text-decoration:none;
    
  }
  
  .instagram-login:hover::before,
  .instagram-login:focus::before
  {
    opacity:1;
  }
  
  .instagram-login:hover::after,
  .instagram-login:focus::after
  {
    opacity:1;
  }

.instagram-logout {
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-neon {
    color: hsl(317 100% 54%);
}



.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    color: #fff;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(317 100% 54%) ;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download > i {
    font-family: 'FontAwesome' !important;
    font-size: 3rem;
    color: hsl(317 100% 54%);
    padding: .25em;
    transition: color .3s ease-in-out;
}

.app-download > i:hover {
    color: #fff;
}



/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}